Alternative Challenge
In this scenario, there are only two cities. That means your
market is severely restricted. Economies of scale no longer apply
very well. Increasing your factories' capacity does not
necessarily increase your profits. To survive, you must keep your
production cost down and try to seize every market space
available.

To win this scenario, you must run a business producing at least
ten different products with an annual profit of $30 million or
more. If you can reach these goals within 30 years, you will be
rewarded with 80 points of bonus score. Stock investment is not
allowed in this scenario.

