Back to The Throne
Founding a business is not easy; operating a profitable business
is not easy, either. But you have been doing so with great
success. After more than ten years of effort and countless
sleepless nights, your business is highly profitable. Although it
may not be the most admired company, it definitely has the
highest sales.

The bad news is that you own only a modest share of your
corporation. Your competitors have acquired a majority of the
shares. You have lost your voice on the corporate board and,
worse, could lose your job one day!

In this scenario, your goal is to regain control of your
corporation by acquiring more than 50% of your corporation's
stock within 60 years. If you can do so and your corporation's
annual revenue is no less than $200 million, you will be rewarded
with 120 points of bonus score.
