Catching the Fashion Wave
You are a famous fashion designer who is tired of having other
people control your fabulous creations. Those regular
corporate types have no respect for artistic integrity.

You have found investors willing to back your talent with
their money.  You have $20 million to build a fashion powerhouse
that will lead the world and have everyone wearing your
creations.

You have 60 years to dominate the apparel industry and reach
an annual profit of $20 million. Because all you know is fashion,
stock market trading is disabled and the only product classes you
can produce are apparel, cosmetics, and jewelry. If you succeed
in your dream, you will be rewarded with 70 bonus points and the
envy of the fashion world.
