Corporation Re-engineering
Being big is not necessarily fun. With an annual revenue of more
than $380 million and some 40 firms, the corporation is
struggling for survival. Total losses over the past year reached
a high of $42 million and are still showing no sign of
turnaround.

Now, you have been appointed as the CEO to save this corporation
from bankruptcy. To fulfill shareholders' expectations, you must
swing your axe, cut off the corporation's dead wood, and rebuild
a healthy and profitable corporation.

If you can realize your promise by transforming the corporation
into one with an outstanding 15% return-on-equity ratio and a
satisfying annual profit of $50 million within 60 years, you will
receive 100 bonus points, and the applause of the shareholders.
