Cost Leadership Dilemma
For years, your business has successfully pursued the strategy of
cost leadership. But this strategy no longer works very well.
Your competitors are offering products with far superior quality
and gaining ground in the market.

It seems that the only way to react is to invest in R&D and hope
your product quality improves. But this will definitely put your
cost leadership at risk. Furthermore, R&D takes time and it is
doubtful whether you can win the technology race.

Your goal is to sustain profitability and achieve an annual
profit of $100 million within 60 years. If you do, you will be
rewarded with 100 points in your final score.

To increase competition and make the game more challenging, you
cannot produce all types of products in this scenario. The
product types you can produce include: apparel, beverages,
chemical products, food, toys, and watches. In addition, you
are not allowed to see the trade secrets of your competitors,
such as their firm layouts and production costs.