"D" for Diversification
This scenario is an exercise in creating a profitable broad-based
corporation. You need to manage a large number of firms to
succeed. You don't have to be the biggest or the best, just
diverse, so focus on diversifying production rather than
increasing sales and doing research.

You start with $30 million and have 80 years to develop at least
10 product classes and 30 product types within those classes.
There isn't much point in being diverse for diversity's sake, so
you also have to have a profit of at least $50 million. If you
succeed, you will receive 110 bonus points.
