Electronic Empire
In this scenario, the object is to dominate computers and
electronic products. At the same time, your corporation must
sustain an annual operating profit of no less than $30 million.
You have 60 years to accomplish the goal and will receive 80
bonus points if you succeed.

To increase competition and make the scenario more challenging,
only automobiles, computers, electronic products, and watches are
included in the scenario. To make production of these complex
products a little easier, there are four seaports to provide you
with industrial goods. You are not allowed to trade stocks in
this scenario.
