Farmer's Stride
You are the manager of a small agricultural co-op. You
concentrate on farming and control five farms, which produce
frozen meat for retail outlets in the cities. Currently, profits
are good and all the farms are doing well. However, the market is
saturated and there doesn't seem to be any growth in demand for
meat in the horizon.

To grow this company, you need to diversify your business. You
plan to expand into the retail business, so you can ensure
constant markets for your products. You currently dominate the
farming industry and the frozen meat market.

Your goal is to dominate both the farming and retailing
industries. You have 80 years to achieve the goal and you will
score a 110 point bonus if you succeed. To reflect the fact that
you are an agricultural co-op, all electronic and heavy
industrial products are excluded from this scenario. The stock
market is also disabled, so the focus is on operational-level
management.
