Food Dominance
In this scenario, your target is market dominance of the food
industry, while earning an annual operating profit of no less
than $20 million. You have 50 years to accomplish the goal and
will receive 60 score points if you succeed.

To increase competition and make the game more challenging, only
beverages, food, and livestock products are included in the
scenario. The absence of other products significantly reduces the
market which reduces the profit margin because of possible price
wars. In addition, the stock market is disabled and you are not
allowed to see the trade secrets of your competitors.
