Fortress of the Beverage King
The beverage industry is currently dominated by King Corporation
led by the Beverage King - James Zandman. You have taken it upon
yourself to topple the fortress of the beverage king and seize
market dominance of the beverage industry.

The types of goods in this scenario are restricted to beverages,
food and livestock products, cosmetics, and chemical products.
The stock market is also disabled, so the focus is on
operational-level management. In addition, you are not allowed to
see the trade secrets of your competitors.

You have 50 years to gain market dominance of the beverage
industry. If you succeed, you will receive 60 bonus points.
