Entrepreneurial Spirit
At 25, you just received an MBA degree from a top business
school. Now, with financial support from your family, you are
going to realize your dream of starting your own business.

Frankly, a young entrepreneur like you can easily be deterred by
crude competition. To let you develop your business skills, the
competence of the competitors is relatively weak in this
scenario. Your goal is to run a business with an annual revenue of
$100 million within 10 years. If you succeed, you will receive 30
score points as a bonus. Good luck.
