Insane Competition
So you think you are the master of Capitalism and can handle any
situation? This is the scenario for you. Only the best of the
best will succeed here.

You will face the highest competition from both local
competitors and rival corporations. Can you beat 10 aggressive
computer CEOs with plenty of capital to fund their ventures?

The goals of this scenario are almost impossible. Your
corporation must have an annual revenue of $2 BILLION and a
minimum profit of $200 million. You are not allowed to see the
trade secrets of your competitors. You have 80 years to achieve
the goals. If you succeed, you will receive 150 bonus points.
