Profit Maximization
In this intermediate level scenario you try to develop a
profit centered corporation. You have to keep an eye on the bottom
line. Can you balance the need for investment and research with
the drive for profit?

Facing moderate competition, the object is to have an annual
revenue of at least $200 million while maintaining a profit
margin of at least 20%.  You have 60 years to meet these goals
and the reward is 100 bonus points.
