Meat for the Multitudes
No one appreciates ham and eggs, a thick juicy steak, slow
roasted chicken, or a nice bacon lettuce tomato more than you.
You have taken on the task of providing the world with the best
livestock products around, because if you don't, who will?

The only products you have any interest in producing are
livestock products and you want to do it well. The stock market
is disabled in this scenario, so the focus is on
operational-level management. Your goal is dominance of the
livestock products industry and an annual revenue of $30 million.
Your reward will be 60 bonus points and all the meat you can eat.
