Privatization
You have inherited control of the family business. Your father
issued stock to raise money to take advantage of a golden
opportunity to expand and increase profits. However, you want to
regain total control over the family business so you don't ever
have to worry about a hostile takeover.

The family business is profitable and the profits are rising.
However, you only own 10% of this fine business.

Your goal is to achieve 100% ownership of your corporation
while maintaining a market value of $200 million or more. You
have 60 years before you must pass on the family business and you
want your descendents to have 100% ownership. If you succeed you
will be rewarded with 80 bonus points and personal satisfaction.
