Turmoil in Department Stores
Your goal is to end the turmoil of department stores by
dominating the retailing business in all cities and run a
business with an annual revenue of no less than $200 million
within 50 years. Achieving this goal is worth 60 bonus points.

In this scenario, all kinds of stock trading activities are
prohibited. This forces you to concentrate on operating your
business instead of speculating for fast money. In addition, you
are not allowed to see the trade secrets of your competitors.
