; Speed Haste configuration file
UseJoystick                   Detect
UseMouse                      Detect
Detail                        0
Datafile                      "speedh.jcl"
MusicDevice                   "Soundblaster 16"
FXDevice                      "Soundblaster 16"
MusicPort                     $0220
MusicIRQ                          5
MusicDMA                          3
MusicRate                     44100
MusicChannels                    16
MusicVolume                     436
MusicOn                       Yes
FXPort                        $0220
FXIRQ                             5
FXDMA                             3
FXRate                        44100
FXChannels                        5
FXVolume                        436
FXOn                          Yes
JoyAX0                           15
JoyAX1                           78
JoyAX2                           78
JoyAX3                          142
JoyAY0                           15
JoyAY1                           78
JoyAY2                           78
JoyAY3                          142
JoyBX0                            0
JoyBX1                            1
JoyBX2                            2
JoyBX3                            3
JoyBY0                            0
JoyBY1                            1
JoyBY2                            2
JoyBY3                            3
P1Control                     "Keyboard"
P2Control                     "Keyboard"
P1KeyUp                       $C8
P1KeyDn                       $D0
P1KeyLt                       $CB
P1KeyRt                       $CD
P1KeyGe                       $39
P2KeyUp                       $48
P2KeyDn                       $50
P2KeyLt                       $4B
P2KeyRt                       $4D
P2KeyGe                       $52
NumLaps                           5
NSongs                        8
Mus1                          0
Mus2                          1
Mus3                          2
Mus4                          3
Mus5                          4
Mus6                          5
Mus7                          6
Mus8                          7
CarType                           1
DecorationDetail              16
FloorDetail                   1
WallsDetail                   1
PolygonDetail                 1
BackgroundDetail              10
ModemInit                     "ATZ"
ModemDial                     "ATDT"
ModemHang                     "ATH0"
IPXSocket                         0
COMNum                            2
COMAddr                       $02F8
COMIrq                            3
Phone1                        ""
Phone2                        ""
Phone3                        ""
Phone4                        ""
Phone5                        ""
Phone6                        ""
SVGAOn                        1
TimedRace                     No
